@import '~bootstrap/dist/css/bootstrap.min.css';


#container-main {
  width: 750px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-item {
  display: flex;
  flex-basis: 100px;
}

.strike {
  text-decoration: line-through;
}

a {
  cursor: pointer;
}


.btn {
  color: red;
}